<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.itemis.de/mpp/Pom" 
       class = "de.itemis.mpp.pom.PomPackage"
       genModel = "model/generated/Pom.genmodel" /> 
	
  </extension>



</plugin>
