/.MppMultiOutputConfigurationProvider.java._trace
/.MppMultiOutputConfigurationProvider.xtendbin
/.PomGenerator.java._trace
/.PomGenerator.xtendbin
/MppMultiOutputConfigurationProvider.java
/PomGenerator.java
