/.MppArtifactProcessor.java._trace
/.MppArtifactProcessor.xtendbin
/.MppBuildStepProcessor.java._trace
/.MppBuildStepProcessor.xtendbin
/.MppDependencyProcessor.java._trace
/.MppDependencyProcessor.xtendbin
/.MppPropertiesProcessor.java._trace
/.MppPropertiesProcessor.xtendbin
/MppArtifactProcessor.java
/MppBuildStepProcessor.java
/MppDependencyProcessor.java
/MppPropertiesProcessor.java
